<div class="jumbotron text-center">
    <h1>Boxing live</h1>
    <p class="lead">Welcome to the website that provide you the schedule of all fights</p>
    <div>
      <a class="btn btn-primary" [routerLink]="['/register']">Register</a> <a class="btn btn-default" [routerLink]="['/login']">Login</a>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-4">
      <h4>Categories</h4>
      <p>Select the category of your champ</p>
    </div>
    <div class="col-md-4">
      <h4>News</h4>
      <p>See last news there</p>
    </div>
    <div class="col-md-4">
      <h4>Next fights</h4>
      <p>Check here the next soon fights</p>
    </div>
  </div>
  